/[Dd]ebug/
/[Rr]elease/
/x64/
/[Bb]in/
/[Oo]bj/
RulesValidatorApi.Integration.Tests.v1/bin/Debug/net6.0/Newtonsoft.Json.Bson.dll
RulesValidatorApi.Integration.Tests.v1/bin/Debug/net6.0/RulesValidatorApi.Service.Integration.Tests.v1.deps.json
RulesValidatorApi.Integration.Tests.v1/bin/Debug/net6.0/RulesValidatorApi.Service.Integration.Tests.v1.dll
RulesValidatorApi.Integration.Tests.v1/bin/Debug/net6.0/RulesValidatorApi.Service.Integration.Tests.v1.pdb
RulesValidatorApi.Integration.Tests.v1/bin/Debug/net6.0/System.Net.Http.Formatting.dll
RulesValidatorApi.Integration.Tests.v1/bin/Debug/net6.0/ref/RulesValidatorApi.Service.Integration.Tests.v1.dll
RulesValidatorApi.Integration.Tests.v1/obj/Debug/net6.0/RulesValidatorApi.Service.Integration.Tests.v1.csproj.AssemblyReference.cache
RulesValidatorApi.Integration.Tests.v1/obj/Debug/net6.0/RulesValidatorApi.Service.Integration.Tests.v1.csproj.CoreCompileInputs.cache
RulesValidatorApi.Integration.Tests.v1/obj/Debug/net6.0/RulesValidatorApi.Service.Integration.Tests.v1.csproj.FileListAbsolute.txt
RulesValidatorApi.Integration.Tests.v1/obj/Debug/net6.0/RulesValidatorApi.Service.Integration.Tests.v1.dll
RulesValidatorApi.Integration.Tests.v1/obj/Debug/net6.0/RulesValidatorApi.Service.Integration.Tests.v1.pdb
RulesValidatorApi.Integration.Tests.v1/obj/Debug/net6.0/ref/RulesValidatorApi.Service.Integration.Tests.v1.dll
RulesValidatorApi.Service.v1/obj/staticwebassets.pack.sentinel
RulesValidatorApi.Integration.Tests.v1/bin/Debug/net6.0/RulesValidatorApi.Service.Integration.Tests.v1.deps.json
RulesValidatorApi.Integration.Tests.v1/bin/Debug/net6.0/RulesValidatorApi.Service.Integration.Tests.v1.dll
RulesValidatorApi.Integration.Tests.v1/bin/Debug/net6.0/RulesValidatorApi.Service.Integration.Tests.v1.pdb
RulesValidatorApi.Integration.Tests.v1/bin/Debug/net6.0/ref/RulesValidatorApi.Service.Integration.Tests.v1.dll
RulesValidatorApi.Integration.Tests.v1/obj/Debug/net6.0/RulesValidatorApi.Service.Integration.Tests.v1.csproj.AssemblyReference.cache
RulesValidatorApi.Integration.Tests.v1/obj/Debug/net6.0/RulesValidatorApi.Service.Integration.Tests.v1.csproj.CoreCompileInputs.cache
RulesValidatorApi.Integration.Tests.v1/obj/Debug/net6.0/RulesValidatorApi.Service.Integration.Tests.v1.csproj.FileListAbsolute.txt
RulesValidatorApi.Integration.Tests.v1/obj/Debug/net6.0/RulesValidatorApi.Service.Integration.Tests.v1.dll
RulesValidatorApi.Integration.Tests.v1/obj/Debug/net6.0/RulesValidatorApi.Service.Integration.Tests.v1.pdb
RulesValidatorApi.Integration.Tests.v1/obj/Debug/net6.0/ref/RulesValidatorApi.Service.Integration.Tests.v1.dll
RulesValidatorApi.Service.Tests.v1/obj/Debug/net6.0/RulesValidatorApi.Service.Tests.v1.csproj.AssemblyReference.cache
RulesValidatorApi.Service.v1/obj/staticwebassets.pack.sentinel
RulesValidatorApi.Service.v1/obj/Debug/net6.0/RulesValidatorApi.Service.csproj.FileListAbsolute.txt
RulesValidatorApi.Integration.Tests.v1/bin/Debug/net6.0/nunit_random_seed.tmp
RulesValidatorApi.Integration.Tests.v1/bin/Debug/net6.0/RulesValidatorApi.Service.dll
RulesValidatorApi.Integration.Tests.v1/bin/Debug/net6.0/RulesValidatorApi.Service.Integration.Tests.v1.dll
RulesValidatorApi.Integration.Tests.v1/bin/Debug/net6.0/RulesValidatorApi.Service.Integration.Tests.v1.pdb
RulesValidatorApi.Integration.Tests.v1/bin/Debug/net6.0/RulesValidatorApi.Service.pdb
RulesValidatorApi.Integration.Tests.v1/bin/Debug/net6.0/ref/RulesValidatorApi.Service.Integration.Tests.v1.dll
RulesValidatorApi.Integration.Tests.v1/obj/Debug/net6.0/RulesValidatorApi.Service.Integration.Tests.v1.csproj.AssemblyReference.cache
RulesValidatorApi.Integration.Tests.v1/obj/Debug/net6.0/RulesValidatorApi.Service.Integration.Tests.v1.csproj.CoreCompileInputs.cache
RulesValidatorApi.Integration.Tests.v1/obj/Debug/net6.0/RulesValidatorApi.Service.Integration.Tests.v1.csproj.FileListAbsolute.txt
RulesValidatorApi.Integration.Tests.v1/obj/Debug/net6.0/RulesValidatorApi.Service.Integration.Tests.v1.dll
RulesValidatorApi.Integration.Tests.v1/obj/Debug/net6.0/RulesValidatorApi.Service.Integration.Tests.v1.pdb
RulesValidatorApi.Integration.Tests.v1/obj/Debug/net6.0/ref/RulesValidatorApi.Service.Integration.Tests.v1.dll
RulesValidatorApi.Service.Tests.v1/bin/Debug/net6.0/RulesValidatorApi.Service.dll
RulesValidatorApi.Service.Tests.v1/bin/Debug/net6.0/RulesValidatorApi.Service.pdb
RulesValidatorApi.Service.Tests.v1/bin/Debug/net6.0/RulesValidatorApi.Service.Tests.v1.dll
RulesValidatorApi.Service.Tests.v1/bin/Debug/net6.0/RulesValidatorApi.Service.Tests.v1.pdb
RulesValidatorApi.Service.Tests.v1/obj/Debug/net6.0/RulesValidatorApi.Service.Tests.v1.csproj.AssemblyReference.cache
RulesValidatorApi.Service.Tests.v1/obj/Debug/net6.0/RulesValidatorApi.Service.Tests.v1.dll
RulesValidatorApi.Service.Tests.v1/obj/Debug/net6.0/RulesValidatorApi.Service.Tests.v1.pdb
RulesValidatorApi.Service.v1/bin/Debug/net6.0/appsettings.json
RulesValidatorApi.Service.v1/bin/Debug/net6.0/nlog-2022-01-22.log
RulesValidatorApi.Service.v1/bin/Debug/net6.0/nlog-2022-01-23.log
RulesValidatorApi.Service.v1/bin/Debug/net6.0/nlog-2022-01-24.log
RulesValidatorApi.Service.v1/bin/Debug/net6.0/RulesValidatorApi.Service.dll
RulesValidatorApi.Service.v1/bin/Debug/net6.0/RulesValidatorApi.Service.pdb
RulesValidatorApi.Service.v1/bin/Debug/net6.0/ref/RulesValidatorApi.Service.dll
RulesValidatorApi.Service.v1/obj/staticwebassets.pack.sentinel
RulesValidatorApi.Service.v1/obj/Debug/net6.0/project.razor.json
RulesValidatorApi.Service.v1/obj/Debug/net6.0/RulesValidatorApi.Service.csproj.CoreCompileInputs.cache
RulesValidatorApi.Service.v1/obj/Debug/net6.0/RulesValidatorApi.Service.dll
RulesValidatorApi.Service.v1/obj/Debug/net6.0/RulesValidatorApi.Service.pdb
RulesValidatorApi.Service.v1/obj/Debug/net6.0/ref/RulesValidatorApi.Service.dll
